*.ipynb
*.exe
*.ini
*.lnk
*.jpg
*.pickle
.idea/
.ipynb_checkpoints/
__pycache__/
output/

log/log_cProfile_alg_bij.txt
log_cProfile_alg_bij.txt
relations-7.txt
relations-8.txt
relations-9.txt
spec/specseq1.py